# Entornos virtuales
.venv/
venv/
ENV/
env/

# Byte-compiled / cache de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Archivos del sistema operativo macOS / Windows
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs y temporales
*.log
scratch/
